<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 id="title">Cloud App</h1>
    <nav>
        <a href="/formulario">Formulario de Usuarios</a>
        <a href="/tabla_usuarios">Tabla de Usuarios</a>
    </nav>
</body>
</html>
